<form ng-submit="changePassword(password)" name="changePasswordForm" class="am-fade-and-scale">
    <div class="modal-header">
        <h4>{{username | uppercase}} - Change Password</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control" required ng-model="password.current" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Enter New Password</label>
                    <input type="password" class="form-control" required ng-model="password.first" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" required ng-model="password.second" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center am-flip-x" ng-hide="password.first === password.second">
                    <h4><span class="label label-danger">Passwords do not match.</span></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-warning" ng-click="cancel(changePasswordForm)">Cancel</button>
            <button type="submit" class="btn btn-success" ng-disabled="changePasswordForm.$pristine">Submit</button>
        </div>
    </div>
</form>
